@page "/"
@attribute [Authorize]

@using Chinook.Models
@inject IArtistService ArtistService

<PageTitle>Index</PageTitle>

<h1>Artists</h1>

@if (FilteredArtists == null)
{
    <Loading />
}
else
{
    <input type="text" id="searchArtist" class="form-control" placeholder="Filter..."
           @bind="SearchText"
           @bind:event="oninput">

    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of albums</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artist in FilteredArtists)
            {
                <tr>
                    <td><a href="Artist/@artist.ArtistId">@artist.Name</a></td>
                    <td>@artist.Albums.Count()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Artist> Artists;
    private string SearchText = "";

    protected override async Task OnInitializedAsync() {
        await InvokeAsync(StateHasChanged);
        Artists = await GetArtists();
    }

    public async Task<List<Artist>> GetArtists()
    {
        return await ArtistService.GetArtists();
    }

    List<Artist> FilteredArtists => Artists.Where(w => w.Name.ToLower().Contains(SearchText.ToLower())).ToList();
}
